body{
	--e-global-color-primary					: #07332F;
	--e-global-color-secondary					: #FFFFFF;
	--e-global-color-text						: #000000;
	--e-global-color-accent						: #F7A582;
	--e-global-color-a607ac9					: #00000080;
    --e-global-color-f88cd03					: #FFFFFF80;
    --e-global-color-f1d17a8					: #FFF7F4;
    --e-global-color-fd82e9d					: #1F3F37;
	--e-global-typography-primary-font-family	: "Figtree", sans-serif;
}